@import url(allstyle.css);
main h1 {
  font-size: 3rem;
}
main h2:target {
  color: white;
    background-color: #E02B20;
    padding: 0 15px;
}

main h2 {
  color: white;
  font-size: 2.5rem;
  width: fit-content;
  padding: 0 10px;
}

main .ml-information {
  margin-top: 100px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

main .tittle-main h1 {
  font-size: 4rem;
  margin: 0px;
  margin-left: 10px;
}

.tittle-main p {
  margin: 0px;

}