@import url(allstyle.css);

.filtre {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    max-width: 1450px;
    flex-wrap: wrap;
}
.filtre div select{
  color: #FBFBFB;
  background-color: transparent;
  font-size: 1.5rem;
  border: none;
  border-bottom: #E02B20 2px solid;
}
.filtre div select option {
  color: #08100C;
}
.cars-wrapper {
  margin-top: 90px;
  margin-right: auto;
  margin-left: auto;

  width: 100%;
  height: auto;
  display: grid;
  justify-content: center;
  gap: 25px;
  grid-template-columns: repeat(auto-fill, 650px);
}
.car-card {
  margin-top: 50px;
  width: 600px;
  padding-bottom: 25px;
  border-bottom: 3px #FBFBFB solid;
}
.image-car {
  overflow: hidden;
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}
.car-card img {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}
.car-card img:hover {
  scale: 1.05;
}
.car-card p {
  max-height: 185px;
  overflow-y: hidden;
}
.header-car {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trait-rouge {
  width: 3px;
  height: 2rem;
  background-color: #E02B20;
  border-radius: 16px;
  margin: 5px;
}
.Blanc {
  color: #030404;
  background-color: #FBFBFB;
  padding: 0px 10px;
}
.Rouge {
  color: white;
  background-color: #E02B20;
  padding: 0px 10px;
}

.Noir {
  color: white;
  background-color: black;
  padding: 0px 10px;
}
.Gris {
  color: black;
  background-color: gray;
  padding: 0px 10px;
}
.Bleu {
  color: #FBFBFB;
  background-color: blue;
  padding: 0px 10px;
}
.bottom-car {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.bottom-car p {
  margin: 5px;
  height: fit-content;
}

@media screen and (max-width:1500px){
  .cars-wrapper {
    grid-template-columns: repeat(auto-fill, 600px);
  }
}
@media screen and (max-width:1390px){
  .cars-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}
.searchbar {
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  border-bottom: #E02B20 solid 3px;
  color: #FBFBFB;
}

.red-text {
  color: #E02B20;
}
.bottom-car a{
  color: white;
  text-decoration: none;
  margin-left: auto;
  margin-right: 15px;
}
.bottom-car a:hover {
  text-decoration: underline;
  color: #E02B20;
}