@import url(allstyle.css);

.filtre {
  margin-left: auto;
  margin-right: auto;
    margin-top: 80px;
    font-size: 1.5rem;
    width: 90%;
}
.filtre div select{
  font-weight: bold;
    font-size: 1.125rem;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: unset;
    border-radius: 4px;
    outline-color: #E02B20;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}
.filtre div select option {
  color: #08100C;
}
.cars-wrapper {
  margin-top: 90px;
  margin-right: auto;
  margin-left: auto;

  width: 90%;
  height: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
}
.car-card {
  width: 100%;
  margin-top: 50px;
  padding-bottom: 25px;
  border-bottom: 3px #FBFBFB solid;
}
.image-car {
  overflow: hidden;
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}
.car-card img {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}
.car-card img:hover {
  scale: 1.05;
}
.car-card p {
  max-height: 185px;
  overflow-y: hidden;
}
.header-car {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trait-rouge {
  width: 3px;
  height: 2rem;
  background-color: #E02B20;
  border-radius: 16px;
  margin: 5px;
}
.Blanc {
  color: #030404;
  background-color: #FBFBFB;
  padding: 0px 10px;
}
.Rouge {
  color: white;
  background-color: #E02B20;
  padding: 0px 10px;
}

.Noir {
  color: white;
  background-color: black;
  padding: 0px 10px;
}
.Gris {
  color: black;
  background-color: gray;
  padding: 0px 10px;
}
.Bleu {
  color: #FBFBFB;
  background-color: blue;
  padding: 0px 10px;
}
.bottom-car {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.bottom-car p {
  margin: 5px;
  height: fit-content;
}

@media screen and (max-width:1500px){
  .cars-wrapper {
    grid-template-columns: repeat(auto-fill, 600px);
  }
}
@media screen and (max-width:1390px){
  .cars-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}
.searchbar {
  font-weight: bold;
    font-size: 1.125rem;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: unset;
    border-radius: 4px;
    outline-color: #E02B20;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

.red-text {
  color: #E02B20;
}
.bottom-car a{
  color: white;
  text-decoration: none;
  margin-left: auto;
  margin-right: 15px;
}
.bottom-car a:hover {
  text-decoration: underline;
  color: #E02B20;
}